/* en src/main/resources/static/css/styles.css */
html, body {
    margin: 0;
    padding: 0;
}

.navbar-modern {
    background-color: #445443;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);

    /* Reduce el alto */
    padding-bottom: 0.25rem !important;
}

nav.navbar {
    margin-top: 0 !important;
    padding-top: 0 !important;
}


.footer-modern{
    background-color: #445443;

}


.tabla-pb {
    border-collapse: separate;
    border-spacing: 5px;
    width: 100%;
}

/* Estilo general de los encabezados */
.tabla-pb th {
    padding: 12px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabla-pb tbody tr {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}


/* Celdas específicas con su propio fondo y bordes redondeados */
.tabla-pb th:nth-child(1) {
    background-color: #F4FFF5;
    color: #000;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tabla-pb th:nth-child(2) {
    background-color: #E8F5E9;
    color: #000;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.tabla-pb th:nth-child(3) {
    background-color: #C8E6C9;
    color: #000;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.tabla-pb th:nth-child(4) {
    background-color: #A5D6A7;
    color: #000;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.tabla-pb th:nth-child(5) {
    background-color: #4CAF50;
    color: #000;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.tabla-pb th:nth-child(6) {
    background-color: #388E3C;
    color: #000;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.tabla-pb th:nth-child(7) {
    background-color: #1B5E20;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

/* Celdas de datos */
.tabla-pb td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
