<!DOCTYPE html>
<html xmlns ="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}"/>
    <body class="d-flex flex-column min-vh-100">
        <nav th:replace="~{layout/plantilla :: nav}"/>

        <main class="flex-grow-1">
            <div th:replace="~{finances/fragmentos :: salario}"/>
            <div th:replace="~{finances/fragmentos :: cardTotales}"/>
            <div th:replace="~{finances/fragmentos :: cardSobrantes}"/>

            <div class="container d-flex justify-content-center">

                <section th:replace="~{finances/fragmentos :: tabla}"/>

            </div>
        </main>

        <section th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>